

<!-- <button (click)="postActor()">Invoke get actors</button> -->
<h1>This is the home page</h1>
<a routerLink="/homePage">Home</a> <br>
<a routerLink="/AddParcel">Add Parcel</a> <br>
<a routerLink="/addSender">Add Sender</a> <br>
<a routerLink="/deleteSender">Delete Sender</a> <br>
<a routerLink="/listParcels">List Parcels</a> <br>
<a routerLink="/listSenders">List Senders</a><br>
<a routerLink="/currenttime">Current Time</a>
<router-outlet></router-outlet>

<br>



<br>


<br>


<br>

  <!-- <div *ngIf="sectionId==6">
    <h1>Listed fragile </h1>
    <table>
      <thead>
        <th>#</th>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Weight</th>
        <th>Fragile?</th>
      </thead>
      <tbody>
        <tr *ngFor="let frag of fragileDb; let i = index">
          <td>{{i + 1}}</td>
          <td>{{frag._id}}</td>
          <td>{{frag.name}}</td>
          <td>{{frag.address}}</td>
          <td>{{frag.weight}}</td>
          <td>{{frag.fragile}}</td>
      </tbody>
    </table> -->

<hr>